<!DOCTYPE html>
<html>
<head>
  <title>PlainRailsMysqlDevise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/menu" %>
<%= render "shared/noticeblock" %>
<%= yield %>

</body>
</html>
